.container
  .page-content
    .app-copy
      = image_tag "icon.png", height: "40", width: "40", class: "app-icon"

      %h1 Tropos
      %p
        No dew points or ads.
        %br Only weather information you can act on.

      .badges
        = link_to image_tag("app-store-badge.svg"), "https://itunes.apple.com/us/app/tropos-weather-forecasts-for/id955209376", class: "app-store-badge"
        %iframe.github-star{src: "https://ghbtns.com/github-btn.html?user=thoughtbot&repo=Tropos&type=star&count=true&size=small", frameborder: "0", scrolling: "0"}

      %p.small-text.built-by-text
        Built by
        = link_to "thoughtbot, inc.", "https://thoughtbot.com", class: "thoughtbot-built"

    = image_tag "iphone.png", class: "iphone"

  = partial "bottom_color_bands"
