<div class="container">
  <div class="page-content">
    <div class="app-copy">
      <%= svg "tropos-app-icon" %>

      <h1>
        Tropos
      </h1>

      <p>
        No dew points or ads.
        <br>
        Only weather information you can&nbsp;act&nbsp;on.
      </p>

      <% link_to(
        "https://itunes.apple.com/us/app/tropos-weather-forecasts-for/id955209376",
        class: "app-store-link",
      ) do %>
        <%= svg "app-store-badge" %>
      <% end %>

      <% link_to(
        "https://play.google.com/store/apps/details?id=com.thoughtbot.tropos",
        class: "app-store-link",
      ) do %>
        <%= image_tag "google-play-badge.png" %>
      <% end %>

      <p class="small-text built-by-text">
        Built by
        <%= link_to(
          "thoughtbot, inc.",
          "https://thoughtbot.com",
          class: "thoughtbot-built",
        ) %>
      </p>

      <p class="tos-cta">
        See
        <%= link_to "Terms of Service", "terms", class: "tos-link" %>
        or
        <%= link_to "Privacy Policy", "privacy", class: "tos-link" %>
      </p>
    </div>

    <%= image_tag(
      "tropos-iphone-app.png",
      class: "iphone",
      alt: "iPhone with the Tropos app open",
    ) %>
  </div>
</div>
